@font-face {

    font-family: ibm-plex-serif;
    src: local("IBM Plex Serif"),
         url("/res/ibm-plex-serif.ttf") format("truetype");

}

@font-face {

    font-family: almendra;
    src: local("Almendra"),
         url("/res/almendra.ttf") format("truetype");

}

html, body {

    padding: 0;
    margin: 0;

    font-family: ibm-plex-serif, serif, monospace, sans-serif;
    font-size: 18px;

}

img {

    max-width: 100%;

}

h1, h2, h3, header a, input[type="submit"] {

    font-family: almendra, ibm-plex-serif, serif, monospace, sans-serif;
    font-weight: bold;

}

h1, h2, h3, header a {

    color: #c00;

}

p {

    text-align: justify;

}

header {

    background-color: #ccc;
    padding: 10px;

}

header > h1 {

    max-width: 500px;
    margin: 0 auto;
}

header nav {

    text-align: center;

}

header a {

    color: #000;
    text-decoration: none;
    font-size: 1.4em;
    margin: 5px;
    vertical-align: middle;

}


picture, source, header a {

    display: inline-block;

}

.layout-general header {

    padding: 0 10px;

}

.layout-general nav {

    text-align: start

}

.layout-general header img {

    height: 50px;
    margin: 0 10px;

}

main {

    max-width: 800px;
    margin: 30px auto;
    padding: 10px;

}

form {

    max-width: 400px;
    margin: 0 auto;

}

input {

    display: block;
    box-sizing: border-box;

    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    margin: 10px 0;

    background: #eee;

}

input[type="submit"] {

    background: #ccc;

}

a {

    color: #c00;

}

.section {

    margin: 60px 0;

}

.section a, .pagination a, .entry {

    display: inline-block;
    background: #fff;
    border: 1px #ccc solid;
    padding: 8px 16px;
    margin: 5px 10px 5px 0;

    color: black;
    text-decoration: none;

    transition: background 0.2s;

}

.section a:hover, .pagination a:hover, .entry:hover {

    background: #eee;

}

.entry {

    display: block;
    padding: 20px;
    margin: 16px 0;

    line-height: 0.8em;

}

.pagination {

    text-align: center;

}

.pagination .special {

    background: #ccc;

}

.pagination .current {

    background: #c00;

    font-weight: bold;
    color: white;

}

.pagination .current:hover {

    background: #c55;

}

.hint {

    font-size: 0.8em;
    color: #333;
    font-style: italic;

}
